.product-item {
    display: block;
    height: 22rem ;
}

.product-img {
    height: 200px;
    display: flex;
    justify-content: center;
}

.product-Detail-img{
    width:30rem;
    height: 20rem;
    margin-right: 5rem;
}

.product-img > img {
    /* max-height: 70%; */
}